.carousel-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  button {
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 3rem;
    &:focus {
      outline: none;
    }
  }
  .btn-left {
    margin-right: 2rem;
  }
  .btn-right {
    margin-left: 2rem;
  }
}

.slide {
  display: flex;
  opacity: 0;
  transition: 0.7s linear 0.3s;
  &.active {
    opacity: 1;
    transition: 0.7s linear 0.3s;
  }

  p {
    align-self: center;
    background-color: rgb(240, 240, 240);
    font-size: 1.2rem;
    margin-right: 3rem;
    padding: 3rem;
    width: 60%;
  }
  img {
    width: 40%;
  }
}

// Media

@media (max-width: 768px) {
  .slide {
    justify-content: center;
    align-items: center;
    p {
      font-size: 1rem;
      margin: 0;
      padding: 3rem;
      width: 100%;
    }
    img {
      display: none;
    }
  }
  .carousel-wrapper {
    .btn-left {
      margin-right: 1rem;
    }
    .btn-right {
      margin-left: 1rem;
    }
  }
}
